<!DOCTYPE html>

<html lang="en-US">

<head>
<meta charset="UTF-8">
<title>SaranamABQ Network</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="/styles/site.css">
<link rel="stylesheet" href="/styles/shop.css">
<script src="https://unpkg.com/vue@3"></script>
<!--<script src="/cdn/vue3/vue.3.2.45.js"></script>-->
<script type="module" src="/scripts/ClientLib.js"></script>
<script type="module" src="/scripts/VueLib3.js"></script>
<script type="module" src="/scripts/siteVueLib3.js"></script>
<script type="module" src="/scripts/shopVueLib3.js"></script>
</head>


<body>
<!-- shopping app -->
<div id="shop" class="page">

    <!-- Top header and menu -->
    <div id="header" class="header">
        
        <!-- menu interface -->
        <i class="menu-icon" v-tip="'Menu'" v-icon:menu @click="popup('menu')"></i>
        <div v-show="dialog=='menu'" class="menu-content">
            <a v-for="m,n in menu" @click="pick('menu',n)">{{m.label}}</a>
        </div>

        <!-- login interface -->
        <i class="nav-icon" v-tip.alt="'login'" @click="popup('login')" v-icon:account_circle></i>
        <dialog-login :show="dialog=='login'" @user="login" @new="popup('account')" @close="popup"></dialog-login>
        
        <!-- account settings interface -->
        <span class="nav-block" @click="popup('account')">
            <i class="nav-icon" v-icon:person  v-tip="'Account'" ></i>
            <i class="nav-icon-overlay" v-icon="user.valid?'settings':'add'"></i>
        </span>
        <dialog-account :who="user" :show="dialog=='account'" @close="popup"></dialog-account>
    
        <!-- logout interface -->
        <dialog-logout :show="user.username" :who="user" @logout="login"></dialog-logout>
           
    </div> <!-- header -->

    <!-- shopping app content section -->
    <div id="main" class="main">
        <!-- banner logo -->
        <img class="logo" src="/images/shopping.png" alt="online shopping picture" >
        
        <div id="notice" class="text-indent" v-show="!shopping">
            <p>This site serves only Saranam staff and clients with authorized accounts. For Saranam's public site go to 
              <a href="https://saranamabq.org">https://saranamabq.org</a></p>
            <p class="indent">To create an account, click on the <span class="text-super">+</span><i class="text-icon" v-icon:person></i>
              icon at the top right corner. NOTE: You will not be able to shop until your account is authorized to do so.</p>
            <p class="indent">To login, click on the <i class="text-icon" v-icon:account_circle></i> icon in the upper right corner.</p>
            <p class="text-bolder" v-if="user.valid" >Your account is ACTIVE but not authorized for shopping, please contact the shopping
              coordinator for access. </p>
        </div>

        <div id="shopping" v-show="shopping">
            <div id="shopper-bar" v-show="shopper">
                <i class="appbar-icon" v-tip="'CART'" v-icon:shopping_cart @click="pick('icon','cart')"></i>
                <i class="appbar-icon" v-show="'ssn'" v-tip="'SETUP'" v-icon:settings @click="pick('icon','setup')"></i>
                <i class="appbar-icon" v-tip="'SUPPLIER LISTS'" v-icon:assignment @click="pick('icon','suppliers')"></i>
                <i class="appbar-icon" v-tip="'UNIT LISTS'" v-icon:ballot @click="pick('icon','lists')"></i>
                <i class="appbar-icon" v-tip="'NOTES'" v-icon:sticky_note_2 @click="pick('icon','notes')"></i>
                <i class="appbar-icon" v-show="'ssn'" v-tip.alt="'STATUS & NOTIFY'" v-icon:mail @click="pick('icon','status')"></i>
                <i class="appbar-icon" v-show="'ssn'" v-tip.alt="'EDIT CATALOG'" v-icon:menu_book @click="pick('icon','catalog')"></i>
                <i class="appbar-icon" v-show="'manager'" v-tip.alt="'CLOUD DATA'" v-icon:cloud_sync @click="pick('icon','cloud')"></i>
            </div>

            <p v-if="noSetup">NOTE: Setup N/A</p>

            <shpg-list v-if="ready.cart" v-show="view=='cart'" :cart="cart.active" :catalog="catalog" :completed="carts.completed" 
            :counts="unitsCounts" :group="group" :listing="listing.active" :shopper="shopper" :setup="setup.active" @active="chgActiveCart" 
              @completed="(c)=>carts.completed=c" @group="chgGroup" @quan="chgQuantity" @save="saveCart"></shpg-list>

            <shpg-setup v-if="ready.setup" v-show="view=='setup'" :catalog="catalog" :listings="listings" :setups="setups"
              :sid="setup.active.id" @active="chgActiveSetup" @listing="saveListing" @setup="saveSetup"></shpg-setup>

            <shpg-suppliers v-if="ready.lists" v-show="view=='suppliers'" :carts="carts" :catalog="catalog" 
              :setup="setup.active"></shpg-suppliers>

            <shpg-unit-lists v-if="ready.lists" v-show="view=='lists'" :carts="carts" :catalog="catalog"></shpg-unit-lists>

            <shpg-notes v-if="ready.lists" v-show="view=='notes'" :carts="carts"></shpg-notes>

            <shpg-status v-if="ready.status" v-show="view=='status'" :carts="carts" :contacts="contacts" :listings="listings"></shpg-status>

            <shpg-catalog v-if="ready.catalog" v-show="view=='catalog'" :catalog="catalog" @item="replaceItem" 
              @save="saveCatalog"></shpg-catalog>

            <shpg-cloud v-if="ready.cloud" v-show="view=='cloud'" :carts="carts" :catalog="catalog" @save="saveFile"></shpg-cloud>
        </div> <!-- shopping -->
    
    </div> <!-- main -->

    <!-- page footer block -->
    <div class="footer">&copy; 2022 Saranam LLC</div>

</div> <!-- app -->

<script type="module" src="/scripts/shopModel3.js"></script>

</body>
</html>
