/* CMS specific style definition */

/* root declarations theme colors used thoughout style sheet... */
/* for light theme: main-color is dark; accent-color is light */
:root {
  --cms-color: black!important;
  --cms-bkgd: white;
  --cms-bkgd-alt: black;
  --cms-accent-text: white!important;
  --cms-accent: #00796B!important;
  --cms-accent-light: #48A999!important;
  --cms-accent-dark: #004C40!important;
  --cms-shadow: #E0F2F1!important;
  --cms-shadow-text: black!important;
  --cms-disabled: #slategray!important;
  --cms-fixed: #black!important;
}

.cmspage{ display: block; margin: 0.25em; color: var(--cms-color); background-color: var(--cms-bkgd); padding-bottom: 0.125em;}
.cmspage h1 { color: var(--cms-accent); }
.cmsheader {  position: relative; display: block; color: var(--cms-bkgd); background-color: var(--cms-color); }
.cmsfooter { text-align: center; font-size: 0.75em; font-style: italic; vertical-align: middle; }
.cms { display: block; border: 2px solid var(--cms-accent-dark); margin: 0.25em; }
.cms-button {color: var(--cms-accent-text); background-color: var(--cms-accent); }
.cms-preview { max-width: 80%; justify-self: center!important; }

.schema-header, .schema-header-subsection { display: grid; grid-template-columns: 32px auto auto; color: var(--cms-accent-text); background-color: var(--cms-accent-dark); }
.schema-header-subsection { background-color: var(--cms-accent); padding: 2px 0; }
.schema-info { border: 1px solid var(--cms-accent-text); margin: 0.25em; }
.schema-schema { display: grid; grid-template-columns: 160px auto; border: 1px solid var(--cms-color); margin: 0.25em; padding: 0.25em; }
.schema-label { grid-column: 1 / span 1; justify-self: start; }
.schema-input { grid-column: 2 / span 1; justify-self: left; }
.schema-set { grid-column: 1 / span 2; margin: 0 1em; }

.element-block { display: block; border: 1px solid var(--cms-accent-dark); margin: 0.25em; }
.element-header, .element-header-subsection { display: grid; grid-template-columns: 32px auto auto; }
.element-header { color: var(--cms-accent-text); background-color: var(--cms-accent-light); }
.element-header-subsection { color: var(--cms-accent-text); background-color: var(--cms-accent); }
.element-header-xicon, .schema-header-xicon { grid-column: 1 / span 1; justify-self: center; align-self: center; }
.element-header-id, .schema-header-id { grid-column: 2 / span 1; text-align: left; padding: 0.1em 0.5em; }
.element-header-label, .schema-header-label { font-size: 1.5em; }
.element-header-name, .schema-header-name { font-size: 1em; }
.element-header-lineage { display: block; font-size: 1em; color: var(--cms-shadow-text); padding-top: 0.125em; }
.lineage-highlight { color: var(--cms-accent-text); font-weight: 700; }
.element-header-desc, .schema-header-desc { font-size: 0.75em; padding-top: 0.5em; }
.element-header-nav, .schema-header-nav { grid-column: 3 / span 1; align-self: center; justify-self: self-end; position: relative; margin-right: 0.25em; }
.element-header-nav i, .schema-header-nav i { margin-right: 0.25em; }

.data-grid, .element-grid, .schema-grid { display: grid; grid-template-columns: 1fr 2fr 1fr 2fr; }
.element-grid, .schema-grid { padding: 0.25em; }
.data-grid { padding: 0 0.1em 0 0.5em; }
.data-col1, .element-col1, .schema-col1 { grid-column: 1 / span 1; margin: 0.25em; justify-self: start; }
.data-col2, .element-col2, .schema-col2 { grid-column: 2 / span 1; margin: 0.25em; justify-self: start; }
.data-col3, .element-col3, .schema-col3 { grid-column: 3 / span 1; margin: 0.25em; justify-self: start; }
.data-col4, .element-col4, .schema-col4 { grid-column: 4 / span 1; margin: 0.25em; justify-self: start; }
.data-col2-3, .element-col2-3, .schema-col2-3 { grid-column: 2 / span 2; margin: 0.25em; justify-self: start; }
.data-col2-4, .element-col2-4, .schema-col2-4 { grid-column: 2 / span 3; margin: 0.25em; justify-self: start; }
.data-col3-4, .element-col3-4, .schema-col3-4 { grid-column: 3 / span 2; margin: 0.25em; justify-self: start; }
.data-span, .element-span, .schema-span { grid-column: 1 / span 4; justify-self: stretch!important; }
.element-span, .schema-span { margin: 0.25em; }
.data-span { margin: 0 0 0 0.5em; }
.data-hdr, .element-hdr, .schema-hdr { grid-column: 1 / span 4; margin: 0.25em; justify-self: start; font-size: 1.25em; 
  font-style: italic; color: var(--cms-accent-dark); }
.element-hr, .schema-hr { margin: 4px; justify-self: stretch; }
.element-label { white-space: nowrap; }

.xdata, .xschema { white-space: pre-wrap; font-family: monospace; }
.cms-x { display: block; border: 2px solid var(--cms-accent-dark);  margin: 0.25em; }
.cms-x-hdr { background-color: var(--cms-accent-text); color: var(--cms-accent); }
.cms-x-hdr i { vertical-align: middle; }
.cms-x-slot { color: var(--cms-shadow-text); background-color: var(--cms-shadow); margin: 0.25em; }

.cms-ibar { position: relative; right: 0em; bottom: 0em; width: max-content; float: right; }
.cms-ibar-schema, .cms-ibar-add { background-color: var(--cms-accent-dark); color: var(--cms-accent-text); }
.cms-ibar-publish { background-color: var(--cms-accent-light); color: var(--cms-accent-text); }
.cms-ibar-container, .cms-ibar-element { background-color: var(--cms-accent); color: var(--cms-accent-text); }
.cms-ibar-icon { padding: 0; margin-right: 8px; float: left; }
.cms-icon-letter { position: relative; bottom: 0.1875em; float: right; }

.cms-history {  border: 1px solid var(--cms-color); }
.cms-history div.cms-x-slot { background-color: var(--cms-shadow); color: var(--cms-fixed); padding: 0.25em; margin: 0.25em; }
.cms-history-grid { display: grid; padding: 2px; grid-template-columns: 180px 80px 60px auto; }
.cms-history-dtd { grid-column: 1; align-self: start; justify-self: start; }
.cms-history-version { grid-column: 2; align-self: start; justify-self: end; padding-right: 8px; }
.cms-history-author { grid-column: 3; align-self: start; justify-self: start; }
.cms-history-note { grid-column: 4; align-self: start; justify-self: start; }

.cms-note-grid { display: grid; grid-template-columns: auto 64px; }
.cms-note-note { grid-column: 1; justify-self: start; margin: 4px 2px 4px 2px; }
.cms-note-icons { grid-column: 2; align-self: center; justify-self: end; }
.cms-note-stretch { justify-self: stretch; }
.cms-notes-hdr { margin-left: 0.5em; font-weight: 100; font-style: italic; }
.cms-notes-list { margin-block-start: 0; padding-inline-start: 4em; }
.cms-note-item { font-style: italic; font-weight: 100; }

.auto-text-block { color: var(--cms-color); background-color: var(--cms-bkgd); }