/* 
  Shopping App speciic CSS ... 
    https://www.smashingmagazine.com/2007/07/css-specificity-things-you-should-know/
*/

/* Global document and element definitions... */

.text-accent-dark { color: var(--accent-dark); padding: 0 0.25rem; }

#shop { visibility: hidden; }
.icon-button { border: 1px solid var(--main-dark); border-radius: 0.25rem; vertical-align: middle; 
  color: var(--main-text-alt); background-color: var(--main-light); font-size: 1rem; }
.shop-badge { display:inline-block; padding:0px 2px; text-align:center; border-radius:50%; width: 1.5rem; 
  color: var(--main-text); background-color: var(--main-dark); margin-right: 0.25rem; }
.shpg-list { margin: 0 0.5rem; }
.shop-pic-icon { color: var(--main); }
.shop-pic-popup { position: fixed; top: 50vh; left: 50%; transform: translate(-50%,-50%); z-index: 100; 
  width: 80%; background-color: var(--main-text); color: var(--main-text-alt); }
.shop-pic-popup i { text-align: right; display: block; padding: 0.25rem; }
.shop-pic { width: 100%; margin: auto; }
.shop-pic img { width: 100%; }
.shop-pic p { padding-left: 1rem; text-align: left; }
.x-blk { margin: 0; font-size: 1rem; }
.x-blk-hdr { background-color: var(--main-light); color: var(--main-text-alt); border: 1px solid var(--main-dark) }
.x-blk-hdr .hdr-text { font-size: 1.25rem; font-weight: 700; vertical-align: top;} 
.x-blk-slot { background-color: var(--main-light); color: var(--main-text-alt); }

.cart-grid { display: grid; grid-template-columns: 6rem 3rem auto; align-content: start; }
.cart-grid-c1 { grid-column: 1 / span 1; grid-row: 1 / span 1; align-self: start; justify-self: center; }
.cart-grid-c2 { grid-column: 2 / span 1; grid-row: 1 / span 1; align-self: start; justify-self: center; }
.cart-grid-c3 { grid-column: 3 / span 1; grid-row: 1 / span 1; align-self: start; justify-self: start; }
.cart-line { line-height: 1rem; margin-block-start: 0rem; margin-block-end: 0.25rem; }
.item-quan { width: 1.25rem; display:inline-block; text-align: center;}
.cart-notes { min-height: 8rem; width: -webkit-fill-available; }
.cart-count { text-align: center; position: relative; }
.cart-count button:first-of-type { position: absolute; left: 0; }
.cart-count button:last-of-type { position: absolute; right: 0; }

.shpg-setup { margin: 0 2rem; }
.shpg-setup hr { margin: 1rem; }
.setup-grid { display: grid; grid-template-columns: auto auto; align-content: start; }
.setup-grid-c1 { grid-column: 1 / span 1; align-self: center; justify-self: start; }
.setup-grid-c2 { grid-column: 2 / span 1; align-self: center; justify-self: start; }
.setting-special-item { display: inline-block; line-height: 75%; }
.setting-special-desc { font-size: 0.75rem; margin-left: 1.5rem; }

.shpg-suppliers, .supplier-list, .supplier-category { margin: 0 1rem; }
.supplier-grid { display: grid; grid-template-columns: 3rem auto; align-content: start; }
.supplier-grid-c1 { grid-column: 1 / span 1; justify-self: end; margin-right: 1rem; }
.supplier-grid-c2 { grid-column: 2 / span 1; justify-self: start; line-height: 80%; }

.shpg-unit-lists, .unit-list { margin-left: 1rem; }
.supplier-grid { display: grid; grid-template-columns: 3rem auto; align-content: start; }
.supplier-grid-c1 { grid-column: 1 / span 1; justify-self: end; margin-right: 1rem; }
.supplier-grid-c2 { grid-column: 2 / span 1; justify-self: start; line-height: 80%; }

.unit-list-grid { display: grid; grid-template-columns: 3rem auto; align-content: start; }
.unit-list-grid-c1 { grid-column: 1 / span 1; justify-self: end; margin-right: 1rem; }
.unit-list-grid-c2 { grid-column: 2 / span 1; justify-self: start; line-height: 80%; }

.shpg-notes { margin-left: 1rem; }

.shpg-status { margin: 0 1rem; }
div.notify-message { border: 2px solid var(--main-text); padding: 1rem 0.25rem 0; margin-top: 1rem; }
div.notify-message p { float: left; margin: -1.75em -0.75rem 0.25rem 0; padding: 0 .5rem; 
  background: var(--main); color: var(--main-text); }
textarea.notify-message { padding: 0.25rem; width: -webkit-fill-available; border: none; height: 12rem; }

.notify-grid { display: grid; grid-template-columns: 50% 50%; align-content: start; grid-auto-flow: column;}
.notify-grid-c1 { grid-column: 1 / span 1; justify-self: start; }
.notify-grid-c2 { grid-column: 2 / span 1; justify-self: start; }

.shpg-catalog { margin: 0 1rem; }
.catalog-grid { display: grid; grid-template-columns: 6rem auto; align-content: start; 
  padding: 0.25rem; border: 2px solid var(--main-text); }
.catalog-grid-c1 { grid-column: 1 / span 1; justify-self: start; padding: 2px 0; }
.catalog-grid-c2 { grid-column: 2 / span 1; justify-self: start; }
.catalog-grid-c2 select { padding-bottom: 1px; margin-left: 0; }
.catalog-stretch { justify-self: stretch; }
.catalog-icon { vertical-align: bottom; font-size: 1.5rem; }

.shpg-cloud { margin: 0 1rem; }
.shpg-cloud h4, .shpg-cloud h5 { padding-top: 1rem; }
.preview-grid { display: grid; grid-template-columns: auto auto; align-content: start; width: 100%; margin-block-end: 1rem;}
.preview-grid-c1 { grid-column: 1 / span 1; justify-self: start; padding-right: 0.25rem; }
.preview-grid-c2 { grid-column: 2 / span 1; justify-self: start; }
.preview-grid-cx { grid-column: 1 / span 2; justify-self: start; }
.preview-img { width: 100%; }
